@import "animations/introduce-animations";

main {
   @include flex-center;
   flex-direction:  column;
   height: 100%;
   background-image: url("../images/cup-mug-desk-office.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50%;
   background-color: $intoro-background;
   background-blend-mode: lighten;
   justify-content: space-between;
   padding: $padding-general $padding-general*2;
   @media screen and (max-width: 42.5em) {
      justify-content: center;
   }
}

.me {
   will-change: width, opacity;
   height: 30%;
   width: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $black-transparent;
   padding: $padding-general*2;
   align-self: flex-start;
   opacity: 0;
   animation: me 1s 2s $animation-mode-1 forwards;
   @media screen and (max-width: 28.75em) {
      padding: $padding-general;
   }
}

.avatar {
   height: 100%;
   border-radius: 50%;
   overflow: hidden;
   display: none;
   &__img {
      height: 100%;
   }
}

.info {
   will-change: opacity, transform;
   display: flex;
   align-items: center;
   height: 100%;
   color: $white;
   text-shadow: $text-shadow-lvl1;
   @media screen and (max-width: 42.5em) {
      flex-direction: column;
      justify-content: space-around;
   }
   &__name {
      will-change: opacity, transform;
      font-size: 6vw;
      display: flex;
      white-space: nowrap;
      align-items: center;
      opacity: 0;
      transform: scale(0.6);
      animation: info__name 0.5s 2.9s $animation-mode-2 forwards;
      @media screen and (max-width: 74em) {
   		font-size: 5vw;
   	}
      @media screen and (max-width: 42.5em) {
         font-size: 8vw;
      }
      &:after {
         content: "a";
         font-family: mehdihpir;
         margin: $padding-general*2;
         @media screen and (max-width: 42.5em) {
            display: none;
         }
      }
   }
   &__job {
      &:before {
         @media screen and (max-width: 42.5em) {
            content: "a";
            font-family: mehdihpir;
            margin-left: $padding-general;
         }
         @media screen and (max-width: 28.75em) {
            display: none;
         }
      }
      will-change: opacity, transform;
      font-size: 4vw;
      display: flex;
      opacity: 0;
      transform: scale(0.6);
      animation: info__name 0.5s 3s $animation-mode-2 forwards;
      @media screen and (max-width: 52em) {
         font-size: 3vw;
   	}
      @media screen and (max-width: 42.5em) {
         font-size: 5vw;
      }
   }
}

%soc-scape-blocking-ial__link {
   color: #fff;
   font-size: 3rem;
   display: inline-flex;
   opacity: 0;
   will-change: opacity, transform;
   @media screen and (max-width: 42.5em) {
      font-size: 2rem;
   }
   @media screen and (max-width: 28.75em) {
      font-size: 1.7rem;
   }
}
%soc-scape-blocking-ial__link__before {
   margin-left: $padding-general;
}
%soc-scape-blocking-ial__link--hover {
   color: $blue-chill;
}

.soc-scape-blocking-ial {
   will-change: width, opacity;
   height: 60%;
   width: 0;
   opacity: 0;
   background-color: $black-transparent;
   padding: $padding-general*2;
   text-shadow: $text-shadow-lvl1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   align-self: flex-start;
   animation: me 1s 2.2s $animation-mode-1 forwards;
   @media screen and (max-width: 42.5em) {
      height: 40%;
      justify-content: space-around;
   }
   @media screen and (max-width: 28.75em) {
      height: 50%;
   }
   &__link--blog {
      &:before {
         @extend %soc-scape-blocking-ial__link__before;
      }
      @extend %soc-scape-blocking-ial__link;
      &:hover {
         @extend %soc-scape-blocking-ial__link--hover;
      }
   }
   &__link--twitter {
      &:before {
         @extend %soc-scape-blocking-ial__link__before;
      }
      @extend %soc-scape-blocking-ial__link;
      &:hover {
         @extend %soc-scape-blocking-ial__link--hover;
      }
   }
   &__link--github {
      &:before {
         @extend %soc-scape-blocking-ial__link__before;
      }
      @extend %soc-scape-blocking-ial__link;
      &:hover {
         @extend %soc-scape-blocking-ial__link--hover;
      }
   }
   &__link--mail {
      &:before {
         @extend %soc-scape-blocking-ial__link__before;
      }
      @extend %soc-scape-blocking-ial__link;
      &:hover {
         @extend %soc-scape-blocking-ial__link--hover;
      }
   }
}
